a:hover{
  font-size: 16pt;
}
body{
  font-family: 'Caesar Dressing', cursive; 
  margin: 0;
}
h1{
  margin: 0px;
}
header{
  background-image: url('../images/gloria.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  
}
nav{
  background-color:aquamarine;
  height: 50px;
}